.filters {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .125rem;
  margin-bottom: .5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 5rem;
}

.label {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: .875rem;
  font-weight: 700;

  select {
    height: 2.5rem;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: .75rem;
    appearance: none;
    background-image: url("../../../assets/images/dropdown.svg");
    background-position: calc(100% - .5rem) center;
    background-repeat: no-repeat;
    background-size: .75rem;
    font-size: .875rem;

    &:focus {
      background-image: url("../../../assets/images/dropdownUp.svg");
    }
  }
}

.labelAge {
  flex-direction: row;
  align-items: center;

  span {
    margin-right: .5rem;
  }

  .ageRange {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    label {
      font-weight: normal;
    }

    select {
      width: 60px;
      margin-top: 0;
      margin-left: .25rem;
    }
  }
}

.button {
  width: 100%;
}


@media screen and (width >= 1200px) {
  .filters {
    padding: 0;
    border: none;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem 5rem;
  }

  .label {
    max-width: 312px;
    font-size: 1.25rem;

    select {
      height: 3.25rem;
      padding: .75rem;
      margin-top: .5rem;
      font-size: 1.25rem;
    }
  }

  .labelAge {
    flex-direction: column;
    align-items: flex-start;

    span {
      margin-right: 0;
      margin-bottom: .5rem;
    }

    .ageRange {
      width: 100%;
      justify-content: space-between;

      select {
        width: 88px;
        margin-top: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .button {
    display: flex;
    max-width: 312px;
    height: 52px;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    font-size: 1.25rem;
  }

}
