.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}

.divider {
  display: none;
}

@media screen and (width >= 1200px) {
  .home {
    max-width: 1184px;
    padding: 52px 44px 80px;
  }

  .divider {
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 24px 0;
  }
}
