.button {
  height: auto;
  padding: 8px;
  border: 0;
  background-color: #ff006b;
  color: #fff;
  cursor: pointer;
  font-size: .875rem;
  font-weight: bold;

  &:hover {
    background-color: rgb(255 0 107 / 50%);
  }
}
