.psychologists {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.noData {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.noDataInfo {
  display: flex;
  width: 100%;
  max-width: 180px;
  flex-direction: column;
  align-items: center;
  font-size: .75rem;
  text-align: center;

  img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .loadMoreButton {
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 38px;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 700;
  }
}

@media screen and (width >= 1200px) {
  .psychologists {
    max-width: 1184px;
  }

  .buttonWrapper {
    .loadMoreButton {
      width: 100%;
      max-width: 312px;
      max-height: 52px;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  .noDataInfo {
    display: flex;
    width: 100%;
    max-width: 264px;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;

    img {
      width: 100%;
      max-width: 180px;
      height: auto;
    }
  }
}
